.wrapper {
    position: fixed;
    top: 64px;
    right: 0;
    z-index: 100;
    transition: transform 0.7s ease;
}

.inner {
    position: relative;
    display: flex;
    align-items: center;
}

.collapse_button {
    display: flex;
    align-items: center;
    justify-content: left;

    height: 3em;
    width: 4em;
    background-color: #c0e3ff;

    border-radius: 2em 0 0 2em;

    padding-left: 0.25em;
    color: #3858e9;
    font-size: large;
    cursor: pointer;

    transition: transform 0.7s ease;
    transform: translateX(50%);
}
.collapse_button:hover {
    transform: translateX(25%);
}

.arrow_icon {
    display: flex;
    align-items: center;
    transition: transform 0.7s ease;
    transform: translateX(25%);
}

.graph {
    height: calc(100vh - 64px);
    width: 45vw;
    min-width: 500px;
    border: 1px solid #e2e2e2;
}

/* Animations */
.hide_graph {
    transform: translateX(calc(100% - 3em));
}

.change_collapse_button {
    transform: translateX(10%);
}
.change_collapse_button:hover {
    transform: translateX(-25%);
}

.change_arrow_icon {
    transform: translateX(25%) rotate(180deg);
}

@media (max-width: 600px) {
    .wrapper {
        top: 56px;
    }

    .graph {
        width: 95vw;
    }
}